@charset "UTF-8";
/* CSS Document */

#title {
	font-size: 60px; font-family: 'Playfair Display', serif; text-align: center;
}


a.homelink:link, a.homelink:visited, a.homelink:hover, a.homelink:active {
	color: black; text-decoration: none;
}

a.text:link, a.text:visited, a.text:hover, a.text:active {
	color: #4040bf; text-decoration: none;
}

#title2 {
	margin: auto; max-width: 880px; height: 16px;  background-color: white; margin-top: -5px; padding-bottom: 10px; font-size: 18px; font-family: 'The Girl Next Door', cursive; text-align: center; color: #9999ff;
}
	

#nav {
	margin: auto; padding: 10px 0px; font-family: 'Abel', serif; font-size: 20px;text-align: center; word-spacing:0px; max-width: 850px;
}

a.nav {
	 margin: 0px 50px 0px 50px;
	 padding: 0px 1px 0px 3px;
  color: black;
  text-decoration: none;
}

a.nav:link, a.nav:visited {
    color: black; 
}

a.nav:hover, a.nav:active {
     background-color: #ffff00; text-transform: bold; 
	 color:#669999;
}

/*mobile menu*/
.dropbtn {
	display: none;
    cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: black;
	border: none;
	text-align: center;
}

menu {
	width: 0px;
    height: 5px;
    background-color: white;
    margin-top: 6px;
	margin-bottom: 6px;
	margin-left: -10px;
	float: center;
	position: relative;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
    outline: none;
}

.dropdown {
	display: none;
	position: relative;
    display: inline-block;
	float: right;
	margin-right: 23px;
	margin-top: 5px;
}

.dropdown-content {
    display: none;
    position: fixed;
	top: 41px;
	right: 16px;
	left: 16px;
    background-color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
    width: auto;
	border-style: solid;
	border-width: thick;
	border-color: black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	
}

.dropdown-content a:hover {
	color: white;
	background-color: black;
}

.show {display:block;}

/*CONTENT STUFF*/

/*heading*/
h1 {
	font-family: 'The Girl Next Door', cursive; font-size: 30px; color: #4040bf; text-align: center; line-height: 25px; text-transform: none;
}

/*date*/
h2 {
	font-family: 'Abel', serif;
	font-size: 17px;
	color: black;
	text-align: center;
	line-height: 20px;
}

/*subtitle*/
h3 {font-family: 'Abel', serif;
	font-size: 16px;
	color: 	#6c6c93;
	text-align: center;
	line-height: 20px;
	margin-left: 60px;
	margin-right: 60px;

	
}
h4 {font-family: 'Abel', serif;
	font-size: 16px;
	color: 	#6c6c93;
	text-align: left;
	line-height: 20px;
	margin-left: 60px;
	margin-right: 60px;

	
}



p {
	font-family: 'Abel', serif;
	font-size: 18px;
	color: black;
	text-align: left;
	line-height: 25px;
	line-height: 30px;
	text-align: justify;

}

.tilename {
	display: none;
}

.landpic {
	width: 700px;
	height: auto;
}

.landpicS {
	width: 350px;
	height: auto;
}

.portpic {
	width: 500px;
	height: auto;
}

.portpicS {
	width: 50%;
}

.portpicH {
	width: 49%;
}

.portpic2 {
	width:49.5%;
	height: auto;
	border-style:solid;
	border-left: none;
	border-right: none;
	border-width: medium;
	border-color: black;
}

span {
	margin: auto;
	word-spacing: 2.5px;
}

/*homecontainer*/
#container {
	margin: auto; background-image: linear-gradient(#e6e2e9,white); width: 848px; height: 400px; padding: 16px;
}

.bg {
	margin: auto; width: 848px; min-height: 400px; padding: 16px; background-image: linear-gradient(#e6e2e9,white); text-align: center; overflow: scroll;
}

.bgcontent {
	margin: auto; width: 848px; min-height: 400px; padding: 16px; text-align: center; overflow: scroll; background-image: linear-gradient(#e6e2e9,white);
}



.containergallery {
	max-width: 708px; max-height: 400px; margin-top:-37px; padding-top: 25px; text-align: center; margin-left: 80px; 
}

.containercontent {
	max-width: 700px; height: auto; margin: auto; padding: 20px; margin-top:-20px;background-color: white; text-align: center;
}

/*HOMEPAGE*/
.picexchange {
	postion: relative; top: 0px; left: 0px; width: 200px; height: 278px; 
}

.pictravel {
	position: relative; top: -278px; left: 216px; width: 200px; height: 278px;
}

.picfilm {
	position: relative; top: -556px; left: 432px; width: 200px; height: 278px;
}

.picabout {
	position: relative; top: -834px; left: 648px; width: 200px; height: 278px;
}

img.resize {
  width:200px;
  height:278px;
}

.line {
	height: 3px; width: 800px; background-color: black; margin: auto;
}

/*OVERLAYSS*/

.overlayhome {
	position: relative;
	top: -278px;
	left: 0spx;
	right: 0;
	height: 278px;
	width: 200px;
	opacity: 0;
	transition: .7s ease;
	background-color: #e6e2e9;
}

.picexchange:hover .overlayhome, .pictravel:hover .overlayhome, .picfilm:hover .overlayhome, .picabout:hover .overlayhome {
  opacity: 0.6;
}

.overlay {
	position: relative;
	top: -216px;
	left: 0;
	right: 0;
	height: 216px;
	width: 216px;
	opacity: 0;
	transition: .7s ease;
	background-color: #e6e2e9;
}	

.tile {
	width: 216px; height: 216px; position: relative; float: left; margin: auto; margin-right: 20px; margin-bottom: 40px;
}

.tile:hover .overlay {
	opacity: 0.7;
}

.text1 {
  color: black;
  font-family: 'The Girl Next Door', cursive;
  font-size: 30px;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text2 {
  color: black;
  font-family: 'The Girl Next Door', cursive;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  top: 127%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.textile {
  color: black;
  font-family: 'Abel', serif;
  font-size: 17px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.webtile {
	z-index: 1;
}

#credit {
	color: #4040bf;
	font-family: 'Abel', serif;
	position: relative;
	top: -25px;
  font-size: 14px;
  text-align: center;
}

#aboutme {
		width: 400px; float: left; margin-right: 20px
	}
	
#dp {
		width: 200px; height:auto;
	}
	
a.mob, a.mobblack {
	display: none; 
}



@media screen and (max-width: 900px){
	
	#title {
		position: fixed;
		background-color: black;
		left: 0px;
		top: 0px;
		right: 0px;
		width: auto;
		height: 40px;
		text-align: left;
		font-size: 30px;
		padding-left: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
		overflow: hidden;
		position: inline-block;
		z-index: 1;
	}
	
	#title2 {
		display: none;
	}
	
	a.homelink:link, a.homelink:visited, a.homelink:hover, a.homelink:active  {
		color: white;
		text-decoration: none;
	}
	
	a.text:link, a.text:visited, a.text:hover, a.text:active {
		color: #4040bf;
		text-decoration: none;
	}
	
	
	#menu {
	display: inline-block;
	}
	
	.nav {
		display: none;
	}
	
	/*HOME*/
	
	#container {
	background-color: black; 
	width: auto;
	height: auto; 
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 36px;
	}

	.overlayhome {
	display: none;
	}
	
	.resize {
	display: none;
	}
	
	.picexchange, .pictravel, .picfilm, .picabout {
		width: auto; left: 16px; right: 16px; height: 21.25%; position: absolute;
	}
	
	.picexchange {
		background-image:url(home%20pictures/exchange_mob.jpg); 
		top: 7%;
	}
	
	
	.pictravel {
		background-image:url(home%20pictures/travel_mob.jpg);
		top: 30.25%;
	}
	
	.picfilm { 
		background-image:url(home%20pictures/film_mob.jpg);
		top: 53.5%;
	}
	
	.picabout {
		background-image:url(home%20pictures/about_mobile.jpg); top: 77%;
	}
		
	a.mob {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		opacity: 0.8;
		 position: relative;
		 text-align: center;
		 top: 20%;
		 font-family: 'Open Sans Condensed', sans-serif;
  		font-size: 50px;
	}

	a.mobblack {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		opacity: 0.8;
		 position: relative;
		 text-align: center;
		 top: 20%;
		 font-family: 'Open Sans Condensed', sans-serif;
  		font-size: 50px;
	}
	
	/*DROP MENU*/
	.dropbtn{
		display: inline-block;
		position: fixed;
		top: 2px;
		right: 28px;
		z-index: 1;
	}
	


/*TITLE PAGES*/
	
	.bg {
	background-color: #ffccff; 
	width: auto;
	height: auto; 
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 50px;
	}
	
	.containergallery, .containercontent {
	position: absolute;
	width: auto;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	top: 64px;
	left: -3px;
	right: 16px;
	bottom: 16px;
	background-color: white;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	overflow: scroll;
	}

	.webtile {
		display: none;
	}
	
	.overlay {
		display: none;
	}
	
	.tilename {
	display: block;
	color: black;
  	font-family: 'Open Sans Condensed', sans serif;
  	font-size: 18px;
  	position: relative;
	text-align: center;
	top: 230px;
	}
		
	a.mobtile {
		text-decoration: none;
	}
	
	.tile {
	margin-left: auto; margin-right: auto; float: none; border-style: solid;
	border-radius: 30%; border-width: thick; border-color: #ffccff; margin-bottom: 65px;
	}
	
	
/*BLOG POSTS*/
/*containercontent above*/

	.landpic, .landpicS, .portpic, .portpicS, .portpic2, .portpicH {
		width: 100%; border: none; margin-bottom: 4px; 
	}
	

/*CREDIT*/
	
	.backtop {
		display: none;
	}
	
	#credit {
	font-family: 'Open Sans Condensed', sans-serif; 
	position: absolute; 
	width: auto; 
	height: auto; 
	top: 97%; 
	left: 16px;
	right: 16px; 
	color: black;
	}
	
	#aboutme {
	position: relative; 
	width: auto; 
	height: auto; 
	top: -20px;  
	left: 16px;
	right: 16px; 
	padding: 0px; 
	float: none;
	text-align: justify;
	}
	
	#dp {
		margin: auto;
		border-style: solid;
		border-radius: 50%; 
		border-width: thick;
		text-align: center;
		border-color: #ffccff;
	}
	
/*text*/	
	h1 {
		font-size: 50px; line-height: 50px;
	}
	
	h2 {
		color: black;
		font-size: 18px;
	}
	
	h3 {
		color: #3CB371; font-size: 16px;
	}
	
	p {
		color: black; text-indent: 0px; font-size: 18px;
	}
	
}
